<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/erich</string>
	</dict>
	<key>Label</key>
	<string>reading-list-sync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/erich/.rvm/wrappers/reading-list-sync/ruby</string>
		<string>./script/sync_bookmarks</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/reading-list-sync.stdout</string>
	<key>StandardOutPath</key>
	<string>/tmp/reading-list-sync.stdout</string>
	<key>StartInterval</key>
	<integer>7200</integer>
	<key>WorkingDirectory</key>
	<string>/opt/reading-list-sync</string>
</dict>
</plist>
